/* 
*{
  background-color: bisque;
} */
/* 
body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #f2f2f2;  
  }  
  
  #form{
    margin-left: 200px;
  }

  .table{
    text-align: center;
  }

  table {  
    width: 100%;  
    border-collapse: collapse;  
    font-family: Arial, sans-serif;  
  }  
  

 
  
  thead {  
    background-color: #f2f2f2;  
  }  
  
  thead td {  
    padding: 12px;  
    font-weight: bold;  
  }  
  
  tbody td {  
    padding: 10px;  
    border-bottom: 1px solid #ddd;  
  }  
  
  tbody tr:nth-child(even) {  
    background-color: #f2f2f2;  
  }  
  
  tbody td:first-child {  
    font-weight: bold;  
  }  
  
  .edit{
    color: blue;
    border-radius: 40px;
  }

  .delete{
    background-color: aqua;
  }
  */
